body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #242427;
}

table, td, tr {
    background-color:white;
}

.faq {
    background-color: white;
    border-radius: 30px;
    padding-left: 40px;
    padding-top: 20px;
}

.likeH1 {
    font-size: 25px;
    font-weight: 700;
    padding-top:10px;
    padding-bottom: 10px;
}

.likeH3 {
    font-size: 20px;
    font-weight: 700;
    padding-top:10px;
    padding-bottom: 10px;
}

.active, .active:hover, .active:active {
    background-color:#60CFFF; !important;
    border-radius: 30px;
}

.form-control,.btn-default {
    border-radius:  30px;
    border: 1px solid #60CFFF;
}

tr{
    border: 10px solid white;
}

.well {
    background-color: white;
    border-radius: 20px;
}

.btn-info, .btn {
    border-radius: 20px;
}