
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" type="text/css" href="https://perfectcdn.com/7e2c2ee5-5b96-4526-90f7-a80aaf205f56/">
    <link rel="stylesheet" type="text/css" href="https://perfectcdn.com/ca7aff32-4d71-4622-8142-b3cd77f78d73/">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                goodpanel.biz
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left-block">
                <li><a href="/">New order</a></li>
                <li><a href="/massorder">Mass order</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/addfunds">Add funds</a></li>
                <li class="active" ><a href="/api">API</a></li>
                <li><a href="/tickets">Tickets</a></li>
                <li><a href="/terms">Terms</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-right-block">
                <li><a><span class="badge">$0.00</span></a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main variables *content* -->

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 faq">
                    <p class="likeH1">API Docs</p>
                    <div class="row">
                    <div class="col-md-2 col-sm-12">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td class="width-40">HTTP Method</td>
                            <td>POST</td>
                        </tr>
                        <tr>
                            <td>API URL</td>
                            <td>{{site['protocol']}}://{{site['domain']}}/api/v2</td>
                        </tr>
                        {% if user['auth'] %}
                        <tr>
                            <td>API Key</td>
                            <td>{{ user['apikey'] }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Response format</td>
                            <td>JSON</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                    {% for method,methodDetails in methods %}
                    <h4 class="m-t-md"><strong>{{methodDetails['title']}}</strong></h4>
                    {% if 'add' == method %}
                    {% if methodDetails['types']|length > 1 %}
                    <p>
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control input-sm" id="service_type">
                                {% for type,label in methodDetails['types'] %}
                                <option value="{{type}}">{{label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    </p>
                    {% endif %}
                    {% for type,parameters in methodDetails['parameters'] %}
                    <div id="type_{{type}}" style="display:none;">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="width-40">Parameters</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for parameter,label in parameters %}
                            <tr>
                                <td>{{parameter}}</td>
                                <td>{{label}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                    {% else %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="width-40">Parameters</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for parameter,label in methodDetails['parameters'] %}
                        <tr>
                            <td>{{parameter}}</td>
                            <td>{{label}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                    <pre>
{{methodDetails['examples']}}
</pre>
                    {% endfor %}
                    <a href="/example.txt" class="btn btn-default m-t" target="_blank">Example of PHP code</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
</main>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js">
</script>
<script type="text/javascript" src="https://perfectcdn.com/258c404b-dd92-4863-b96a-699e6547de5a/">
</script>
<script type="text/javascript" src="https://perfectcdn.com/093ac77e-6fbb-413f-9051-0e247e9ed163/">
</script>
<script type="text/javascript" src="https://perfectcdn.com/632fbc00-97a5-448a-b33b-13b967782567/">
</script>
<script type="text/javascript" src="https://perfectcdn.com/a874d39a-ee87-428b-a62b-5d3ebab18ec0/">
</script>
<script type="text/javascript" src="https://perfectcdn.com/5e1dee9c-d60e-4f49-a030-90af1369d9a4/">
</script>
<script type="text/javascript" src="https://perfectcdn.com/ec53103c-e792-4eb5-b003-a6fc02f28262/">
</script>
<script type="text/javascript" >
    window.modules.layouts = {"auth":1};   </script>
<script type="text/javascript" >
    window.modules.api = [];   </script>

</body>
</html>